::ng-deep a.dropdown-item.rounded-1.active {
    background-color: #37773aa3 !important;
}

 @media (min-width: 992px) {
  ::ng-deep  .modal-lg, .modal-xl {
        --bs-modal-width: 600px;
    }
}

::ng-deep .new-employee-field .image-upload {
    width: 150px !important;
}

::ng-deep .dropdown-menu.active {
background-color: #37773aa3 !important;
}

::ng-deep .dropdown-item:not(.active):hover, ::ng-deep .dropdown-item:not(.active):focus, ::ng-deep .dropdown-item:not(.active):active {
    color: #ffffff;
background-color: #37773aa3 !important;
}